

#chat::-webkit-scrollbar {
    width: 5px;

}

#chat::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

#chat::-webkit-scrollbar-track {
    background-color: #1d1e24;
}

.list-chat::-webkit-scrollbar {
    width: 5px;

}

.list-chat::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.list-chat::-webkit-scrollbar-track {
    background-color: #fff;
}

.dark .list-chat::-webkit-scrollbar-track {
    background-color: #1d1e24;
}

#user:hover .timer {
    display: block;
}

@media (max-width: 740px) {
    .list-chat::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .dark .list-chat::-webkit-scrollbar-track {
        background-color: #1d1e24;
    }
}
